.search-results-wrapper,
.search-results-table {
    display: block;
    float: left;
    width: 100vw;
    height: auto;
    padding: 0em 5%;
    margin-top: 0em;
    margin-bottom: 3em;
}

.search-results-wrapper {
    height: 65vh;
    max-height: 65vh;
    overflow-y: auto;
}

.search-results-table,
#search-results-table {
    background: var(--colour-white);
    color: var(--colour-black); 
    padding-top: 1em;
    padding-bottom: 1em;
}

#search-results-table          { overflow: auto; height: 100px; }
#search-results-table thead th { position: sticky; top: 0; z-index: 1; background: var(--colour-white); }


.search-results-table tr th, 
.search-results-table tr td, 
#search-results-table tr th, 
#search-results-table tr td {
    text-align: left;
    font-size: 1.15em;
}

.search-results-table tr th, 
#search-results-table tr th {
  vertical-align: top;
}


.search-results-table thead tr th ,
#search-results-table thead tr th {
    font-weight: bold;
}

.search-toggle {
    margin: .5em 0 0 0;
    padding: 0;
    font-size: .7em;
    color: var(--colour-red-light);
    width: 100%;
    text-align: center;
}

.search-toggle:active,
.search-toggle:hover {
    color: var(--colour-white);
}


#loading-bar-spinner.spinner {
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    z-index: 19 !important;
    animation: loading-bar-spinner 400ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
    width: 40px;
    height: 40px;
    border:  solid 4px transparent;
    border-top-color:  #00C8B1 !important;
    border-left-color: #00C8B1 !important;
    border-radius: 50%;
}

@keyframes #loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

