.subscribe-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 0;
}

.subscribe-header {
    display: block;
    float: left;
    width: 100%;
    margin: 3em 0 2em 0;
    padding: 0;    
    text-align: center;
}

.subscribe-header h1 {
    font-family: var(--font-serif);
    font-weight: 800;
    font-size: 4em;
    margin: 0 3.5em; 
}

.subscribe-header p {
    font-family: var(--font-sans-serif);
    font-size: 1.25em;    
    margin: 1em 3em; 
}

.subscribe-tier:nth-child(1) {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: stretch;
  order: 0;
  text-align: center;
}

.subscribe-tier .subscribe-tier-inner {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    border: 1px solid var(--colour-darkgrey);
}

.subscribe-tier:nth-child(2) {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: stretch;
  order: 0;
  margin-left: 5em;
  margin-right: 5em; 
  text-align: center;
}

.subscribe-tier:nth-child(3) {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: stretch;
  order: 0;
  text-align: center;
}

.subscribe-tier .callout {
    background: var(--colour-white);
    text-align: center;
    font-weight: 600;
    padding: .25em 0;
    text-transform: uppercase;
}

.subscribe-tier .callout.current {
    background: var(--colour-midgrey);
    color: var(--colour-white);
}

.subscribe-tier p {
    display: block;
    width: 60%;
    margin: 0 20% 1em 20%;
    font-size: .9em;
}

.subscribe-tier .subtier p {
    display: block;
    width: 100%;
    background: var(--colour-darkgrey);
    color: var(--color-white);
    margin: 0;
    font-size: 2.2rem;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

.subscribe-tier .price {
    font-size: 2em;
    font-weight: 500;
    padding: 1em 0 .5em 0;
}

.subscribe-tier .price .smaller {
    font-size: .75em;
    font-weight: 500;
    padding: 1em 0 .5em 0;
}


.subscribe-tier .ijf-form-button  {
    display: block;
    width: 80%;
    margin: 1em 10% 2em 10%;
    padding: 1em 0;
    text-transform: uppercase;
    font-weight: 600;
}

.container-1-2_3 {
  display: block;
  float: left;
  margin-top: 4em;
  width: 100%;
  padding: 0;
}

.container-1-2_3 .flex-items {
  display: block;
  float: left;
  width: 25%;
}

.container-1-2_3 .flex-items:nth-child(2) {
  display: block;
  float: left;
  width: 50%;
  margin-left: 15em; 
}

.container-1-2_3 .flex-items  h6 {
    text-transform: uppercase;
    font-weight: 700;
}

.container-1-2_3 .flex-items  p {

}

.container-1-2_3 .flex-items div {
    display: block;
    float: left;
    max-width: 75%;
    margin: 0 auto;
}

.ijf-form-button.fullwidth {
    width: 100%;
}






.subscription-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 4em 0;
  padding: 1em 0 1em 0;
  border: 1px solid var(--colour-black);
}

.subscription-form input {
  padding: 10px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid var(--colour-lightgrey);
  margin: 1em 2em 0em 2em;

}

.subscription-form button {
  display: block;
  float: left;
  padding: 10px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid var(--colour-lightgrey);
  margin: 1em 2em;
}


.subscription-form .success-message,
.subscription-form .error-message {
  display: none;
}

.subscription-form.error .error-message,
.subscription-form.success .success-message {
  display: block
}

.subscription-box {
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
}

